@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.leaflet-container .leaflet-tile {
  background: transparent;
  border: 0;
  outline: 0;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-overlay-pane,
.leaflet-map-pane {
  transform: translateZ(0);
  will-change: transform;
}

.tiles-no-seams {
  filter: opacity(0.9999);
}

.transform-gpu {
  transform: translateZ(0);
  will-change: opacity, transform;
}


html, body {
  overflow-x: hidden;

  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
